div{
    display: flex;
    justify-content: center;
    margin: auto;
    text-align: center;
    border: 1px solid black;
    height: 100px;
    width: 350px;
    background-image: linear-gradient(45deg, yellow,black,red,purple,blue);
    border-radius: 20px;
    box-shadow: 8px 7px 5px #888888 ;
    font-size: x-large;
    color: white;
    font-family: 'my Font' , sans-serif ;
    animation: colani 6s linear infinite
}

h2{
    align-self: center;
}

@font-face {
    font-family: 'my Font';
    src: url('Fonts/my\ Font.ttf') format('truetype') ;
    font-weight: normal;
    font-style: normal;
}

@keyframes colani {
    form{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
    
}